# App
NEXTAUTH_SECRET=your-secret-here-minimum-32-chars
NEXTAUTH_URL=http://localhost:3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/iims

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
